/* reset */
*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}



/* utility */
.bk_cl_B91450{
  background-color: #B91450;
}



/* selettori generali */
body h2{
  color: white;
  margin: 30px 0 0;
  text-align: center;
}


button{
  padding: 5px;
  margin: 30px 5px 0 5px;
  border: 1px solid gray;
  color: #B91450;
  border-radius: 5px;
}
button:hover{
  border-color: #B91450;
}
label{
  color: #B91450;
}




/* informazioni per la compilazione */
.card-rounded, .ticket{
  background-color: white;
  padding: 20px;
}

.card-rounded{
  text-align: center;
  border-radius: 10px;
}


/* biglietto */
.name-box, .ticket-box{
  height: 150px;
}

.name-box{
  background-color: gray;
}
.ticket-box, p{
  text-align: left;
}




/* ho importato queste classi dal file 12-bool */

/* classi float */
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.row {
  width: 100%;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
}

/* col */
.col-lg-1 {
  width: calc((100%/12) *1);
}
.col-lg-2 {
  width: calc((100%/12) *2);
}
.col-lg-3 {
  width: calc((100%/12) *3);
}
.col-lg-4 {
  width: calc((100%/12) *4);
}
.col-lg-5 {
  width: calc((100%/12) *5);
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: calc((100%/12) *7);
}
.col-lg-8 {
  width: calc((100%/12) *8);
}
.col-lg-9 {
  width: calc((100%/12) *9);
}
.col-lg-10 {
  width: calc((100%/12) *10);
}
.col-lg-11 {
  width: calc((100%/12) *11);
}
.col-lg-12 {
  width: 100%;
}
