/* reset */
*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
/* /reset/ */

body{
  /* colore di debug */
  background-color: lightgray;
}
body h2{
  color: white;
  margin: 30px 0 0;
  text-align: center;
}
.container{
  background-color: #B91450;
  max-width: 100%;
}

button{
  padding: 5px;
  margin: 30px 5px 0 5px;
  border: 1px solid gray;
  color: #B91450;
  border-radius: 5px;
}
button:hover{
  border-color: #B91450;
}
label{
  color: #B91450;
}

.card-rounded, .ticket{
  width: 80%;
  background-color: white;
  padding: 20px;
}

.card-rounded{
  text-align: center;
}
.ticket{
  /* height: 200px; */
}


/* biglietto */

.name-box{
  background-color: gray;
  width: 150px;
  height: 100px;
}
.ticket-box{
  background-color: lightgray;
}
.ticket-box, p{
  text-align: left;
  padding: 20px;
}
